<div data-wrapper-bloco class="bloco-wrapper">
  <div 
    class="botoes-wrapper">
    <div class="botoes-bloco" (click)="toggleMenu(TipoMenu.ACOES)">
      <mat-icon>settings</mat-icon>
    </div>
    <div class="botoes-bloco botoes-bloco__add" (click)="adicionarBlocoAbaixo(true)">
      <mat-icon>add</mat-icon>
    </div>
  </div>

  <div #elementoEditavel [attr.data-id]="dados().id" class="bloco-edicao"></div>

  <!-- Menu de Adição de Bloco -->
  @if (tipoMenuAberto() === TipoMenu.TIPOS) {
    <div class="menu-lateral-popup">
      <app-menu-tipos (fechar)="fecharMenu()" (tipoSelecionado)="alterarTipoBloco($event)"/>
    </div>
  }

  <!-- Menu de Ações -->
  @if (tipoMenuAberto() === TipoMenu.ACOES) {
    <div class="menu-lateral-popup">
      <app-menu-acoes (fechar)="fecharMenu()" (acaoSelecionada)="processarResultadoMenuAcoes($event)"/>
    </div>
  }

  <!-- Menu de estilo -->
  @if (tipoMenuAberto() === TipoMenu.ESTILO) {
    <app-menu-estilo class="absolute"
      [style.top.px]="posicaoMenuEstilo().top"
      [style.left.px]="posicaoMenuEstilo().left"
      (acao)="aplicarEstiloInline($event)">
    </app-menu-estilo>
  }
</div>