<div data-wrapper-bloco class="bloco-wrapper">
  <div 
    class="botoes-wrapper">
    <div class="botoes-bloco" (click)="toggleMenu(TipoMenu.ACOES)">
      <mat-icon>settings</mat-icon>
    </div>
    <div class="botoes-bloco botoes-bloco__add" (click)="adicionarBlocoAbaixo(true)">
      <mat-icon>add</mat-icon>
    </div>
  </div>

  <!-- Conteúdo Editável -->
  <div #elementoEditavel
    class="fonte-padrao bloco-edicao"
    [class.text-3xl]="dados().tipo === 'h1'" [class.font-bold]="dados().tipo === 'h1' || dados().tipo === 'h2'"
    [class.text-2xl]="dados().tipo === 'h2'" [class.list-item]="dados().tipo === 'list-item'"
    [class.ml-6]="dados().tipo === 'list-item'" 
    contenteditable="true" spellcheck="false"
    [attr.data-placeholder]="'Digite / para comandos...'"
    [attr.data-id]="dados().id"
    (blur)="salvarConteudo(elementoEditavel.innerHTML)"
    (keydown)="reagirTeclaPressionada($event)" 
    [innerHTML]="dados().conteudo">
  </div>

  <!-- Menu de Adição de Bloco -->
  @if (tipoMenuAberto() === TipoMenu.TIPOS) {
    <div class="menu-lateral-popup">
      <app-menu-tipos (fechar)="fecharMenu()" (tipoSelecionado)="alterarTipoBloco($event)"/>
    </div>
  }

  <!-- Menu de Ações -->
  @if (tipoMenuAberto() === TipoMenu.ACOES) {
    <div class="menu-lateral-popup">
      <app-menu-acoes (fechar)="fecharMenu()" (acaoSelecionada)="processarResultadoMenuAcoes($event)"/>
    </div>
  }

  <!-- Menu de estilo -->
  @if (tipoMenuAberto() === TipoMenu.ESTILO) {
    <app-menu-estilo class="absolute"
      [style.top.px]="posicaoMenuEstilo().top"
      [style.left.px]="posicaoMenuEstilo().left"
      (acao)="aplicarEstiloInline($event)">
    </app-menu-estilo>
  }
</div>