
.bloco-wrapper{
  width: 100%;
  display: flex;
  align-items: center;
  transition: opacity 0.2s;
}

.bloco-wrapper:hover{
  .botoes-wrapper{
    opacity: 1;
  }
}

.botoes-wrapper{
  display: flex;
  align-items: center;
  opacity: 0;
  margin-right: 10px;
  transition: opacity 0.2s;
  user-select: none;
}

.bloco-edicao:empty:before {
  content: attr(data-placeholder);
  color: #acaba9;
  pointer-events: none;
  display: block;
}

.botoes-bloco {
  padding: 0.25rem;
  border-radius: 0.25rem;
  color: #acaba9;
  display: flex;
}

.botoes-bloco:hover {
  background-color: #efefef;
  cursor: pointer;
}

.botoes-bloco__add {
  cursor: pointer;
}

.fonte-padrao {
  font-size: 12pt;
  font-family: Arial, Helvetica, sans-serif;
  color: #2c2c2c;
  overflow-wrap: break-word;
  word-break: break-all;
  white-space: pre-wrap;
  line-height: 1.4;
}

.bloco-edicao{
  width: 100%;
  .tiptap{
    outline: none;
    padding: 3px 2px;
  }
  .tiptap p{
    font-size: 12pt;
    font-family: Arial, Helvetica, sans-serif;
    color: #2c2c2c;
    overflow-wrap: anywhere;
    word-break: normal;
    white-space: pre-wrap;
    hyphens: none;
    line-height: 1.4;
    margin-bottom: 0;
  }

  .tiptap:empty:before {
    content: attr(data-placeholder);
    color: #acaba9;
    pointer-events: none;
    display: block;
  }

  .tiptap p.is-editor-empty:first-child::before {
    content: attr(data-placeholder);
    float: left;
    color: #acaba9;
    pointer-events: none;
    height: 0;
  }

  .tiptap.list-item {
    display: list-item;
  }
}

.menu-lateral-popup{
  position: absolute;
  top: 32px;
  z-index: 50;
  left: 96px;
}