.folha {
  background-color: #ffffff;
  min-height: 95vh;
  height: auto;
  width: 210mm;
  padding-top: 20mm;
  padding-right: 20mm;
  margin: auto;
  margin-bottom: 10px;
}

.bloco-wrapper{
  user-select: none;
  display: flex;
  position: relative;
}

.botao-drag {
  padding: 0.25rem;
  border-radius: 0.25rem;
  color: #acaba9;
  display: flex;
  cursor: grab;
  opacity: 0;
  transition: opacity 0.2s;
  user-select: none;
  display: flex;
  align-items: flex-start;
  align-self: flex-start;
  flex: 1 0 auto;

}

.bloco-wrapper:hover{
  .botao-drag{
    opacity: 1;
  }
}

.botao-drag:hover {
  background-color: #efefef;
}

botao-drag:active {
  cursor: grabbing;
}

.dragging {
  opacity: 0.4;
  background: #f7f7f5;
}

.drag-over {
  border-top: 2px solid #2eaadc;
  margin-left: 60px;
}