@if (referencias().length > 0) {
  <div
    class="flex items-center text-sm text-blue-600 hover:text-blue-400 transition-colors"
    (click)="toggleReferencias()">
    <mat-icon class="cursor-pointer">
      {{ referenciasAbertas() ? 'arrow_drop_down' : 'arrow_right' }}
    </mat-icon>
    <span class="cursor-pointer">Referências</span>
  </div>

  @if (referenciasAbertas()) {
    <div class="referencias-wrapper">
      @for (referencia of referencias(); track $index) {
        <div class="referencia">
          <div class="referencia-cabecalho flex w-full justify-between items-center gap-2">
            <span class="referencia-titulo">
              {{ referencia.titulo }} ({{ referencia.autor }})
            </span>

            <span class="referencia-score">
              Relevância: {{ (1.0 - referencia.score) | percent:'1.1-1' }}
            </span>
          </div>

          <p class="referencia-texto">
            {{ referencia.texto }}
          </p>
        </div>
      }
    </div>
  }
}