@if (referencias().length > 0 || blocoReferenciasAberto()) {
  <!-- Cabeçalho para mostrar ou ocultar área de referências -->
  <div
    class="flex items-center text-xs text-blue-400 transition-colors cursor-pointer py-2"
    (click)="toggleReferencias()">
    <span class="flex items-center hover:bg-slate-100 rounded-xl p-1">
      <mat-icon>{{ blocoReferenciasAberto() ? 'expand_less' : 'expand_more' }}</mat-icon>
      <mat-icon class="scale-70">import_contacts</mat-icon>
      {{ blocoReferenciasAberto() ? 'Ocultar Referências' : 'Ver Referências (' + referencias().length + ')' }}
    </span> 
  </div>

  <!-- Área de Busca -->
  @if (blocoReferenciasAberto()) {
    <app-area-busca-referencias
      [textoBase]="textoBase()"
      (aoPesquisar)="adicionarReferencias($event)">
    </app-area-busca-referencias>
  }

  <!-- Referências Adicionadas -->
  @if (blocoReferenciasAberto() && referencias().length > 0) {
    <div class="mt-2 flex flex-col gap-4 p-4 border border-slate-200/60 rounded-xl max-w-3xl">
      Referências Adicionadas
      @for (referencia of referencias(); track $index) {
        <app-cartao-referencia
          [referencia]="referencia"
          [contexto]="'referencias'"
          (aoRejeitar)="removerReferencia($index)"/>   
        @if (!$last) { <hr class="border-slate-100 my-2" /> }
      }
    </div>
  }
}