@import 'tailwindcss';
@import './variaveis.css';

.link {
  color: rgb(21, 93, 252);
  cursor: pointer;
}

footer {
  text-align: center;
  margin-top: 20px;

  span.divisoria {
    display: inline-block;
    background: rgba(0, 0, 0, 0.07);
    width: 300px;
    height: 1px;
    margin-bottom: 16px;
  }

  small {
    display: block;
    color: #A5A5A5;
    font-size: 8.5px;
    text-transform: uppercase;
  }

  span.setor{
    display: inline-block;
    color: #9E9E9E;
    font-size: 20px;
    font-weight: 900;
  }
}

.opcao-menu-editor {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 15px;
  font-size: small;
  color: #364153;
  cursor: pointer;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.opcao-menu-editor:hover {
  background-color: #f6f3f4;
}

.overlay-menu{
  z-index: 9;
}

.caixa-menu{
  z-index: 10;
  position: relative;
}
